@import '../utils/function';

.main-banner{
    width:100%;
    margin:0 auto;
    height:rem(370);
    position: relative;
    left:rem(0);
    right:rem(0);
    top:rem(0);
    bottom:rem(0);

}


.main-banner__page--number{
    position: absolute;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    width:rem(55);
    height:rem(23);
    line-height:rem(23);
    font-size: rem(14);
    font-weight: 400;
    border-radius: rem(12);
    bottom:rem(20);
    left:rem(1436);
}


.swiper-1 {
    width:100%;
    max-width: rem(1920);
    height:rem(370);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;

    .swiper-slide{
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    img{
        display: block;
        object-fit: cover;
    }  


}
        
.main-button-wrap{
    position: absolute;
    top:0;
    left:50%;
    z-index: 2;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: rem(1920);

    &__button-prev{
        width:rem(50);
        height:rem(50);
        background-image: url(../assets/main-banner/Arrow-left.png);
        background-color:rgba(0, 0, 0, 0.2);/*까만색(0,0,0) 20% 불투명도*/
        border: transparent;
        position: absolute;
        top:50%;
        left:rem(350);
        margin:0;
        margin-top: rem(-30);
        border-radius: 100%;
        // visibility:hidden;
    
        &:after {
            display:none;
        }
    }
    
    &__button-next { 
        width:rem(50);
        height:rem(50);
        background-image: url(../assets/main-banner/Arrow-right.png);
        background-color:rgba(0, 0, 0, 0.2);/*까만색(0,0,0) 20% 불투명도*/
        border: transparent;
        position: absolute;
        top:50%;
        right: rem(350);
        margin:0;
        margin-top: rem(-30);
        border-radius: 100%;
        // visibility: hidden;
    
        &:after {
            display:none;;
        }
    }
}
  

