@import '../utils/function';
@import '../base/theme';



.main-product-list{
  width: rem(1150);
  margin:0 auto;
  padding: rem(40) 0;
  position: relative;

  &__title{
    margin: 0 auto rem(28) auto;
    font-weight: 700;
    font-size: rem(28);
    line-height: rem(64);
    text-align: center;
    color: $content;
  }
  &__button-prev{
    background-image: url(../../assets/main-product-list/swiper-right-arrow-button.svg);
    width: rem(60);
    height: rem(60);
    left: 0;
    margin-left: rem(-30);
    transform: rotate(180deg);
  }
  &__button-prev::after{
    display: none;
  }
  &__button-next{
    background-image: url(../../assets/main-product-list/swiper-right-arrow-button.svg);
    width: rem(60);
    height: rem(60);
    right: 0;
    margin-right: rem(-30);
  }
  &__button-next::after{
    display: none;
  }

  &__button-next.swiper-button-next.swiper-button-disabled,
  &__button-prev.swiper-button-prev.swiper-button-disabled{
    opacity: 0;
  }

  .product-swiper{
    width: 100%;
    overflow: hidden;
  
    .swiper-slide.product-item{
      position: relative;
      width: rem(249);
    }
  }

  .item{
    position: relative;

    a{
      display: block;
      text-decoration: none;
    }
  
    img{
      display: block;
      width: 100%;
    }
  
    figcaption{
      margin-top: rem(16);
      display: flex;
      flex-flow: row wrap;
    }
  
    &__title{
      width: 100%;
      font-size: rem(16);
      font-weight: 500;
      line-height: 1.6;
      color: $content;
    }
  
    &__discount-rate{
      display: inline-block;
      margin-top: rem(8);
      margin-right: rem(8);
      font-size: rem(21);
      font-weight: 600;
      line-height: 1.5;
      color: $accent-yellow;
    }
  
    &__discount-price{
      order: 1;
      display: inline-block;
      width: 100%;
      margin-top: rem(8);
      font-size: rem(12);
      font-weight: 400;
      line-height: 1.6;
      color: $gray-400;
      text-decoration: line-through;
    }
  
    &__price{
      display: inline-block;
      margin-top: rem(8);
      font-size: rem(21);
      font-weight: 600;
      line-height: 1.5;
      color: $content;
    }
  
    &__cart-button{
      position: absolute;
      top: rem(291);
      right: rem(16);
      padding: 0;
      background: none;
      border: 0;
      width: rem(45);
      height: rem(45);
    }
  
    &__cart-button{
      cursor: pointer;
    }
  
  }

}


.main-line-banner{
  width: rem(1150);
  margin:0 auto;
  padding: rem(40) 0;

  &__link{
    display: block;
    width: 100%;
  }

  img{
    display: block;
    width: 100%;
  }

}


